
    
    

     
  
 
    
 


@media(max-width:1389px){

    img, svg{
        vertical-align: middle;
        width: 526px;
    }
}
@media(max-width:1196px){

    .col-lg-6 {
        flex: 0 0 auto;
        width: 50%;
        font-size: 13px;
    }
    img, svg {
        vertical-align: middle;
        width: 445px;
        margin-top: 8px;
    }
}
@media(max-width:992px){
    .navbar-nav {
        display: flex;
        flex-direction: row;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        gap: 10px;
    }
    .col-lg-6 {
        flex: 0 0 auto;
        width: 51%;
        font-size: 13px;
        margin: 0 auto;
    }
    .h2, h2 {
        font-size: 20px;
    }
    .fa-television:before, .fa-tv-alt:before, .fa-tv:before {
        content: "\f26c";
        font-size: 16px;
    }
    .fa-rocket:before {
        content: "\f135";
        font-size: 16px;
    }
    .fa-lightbulb:before {
        content: "\f0eb";
        font-size: 19px;
    }
    .Serviceitem h4 {
        color: #555555;
        font-size: 19px;
    }
    .Serviceitem p {
        color: #555555;
        font-size: 12px;
    }
    .h4, h4 {
        font-size: 15px;
    }
}


@media(max-width:768px){

    .navbar-nav {
        display: flex;
        flex-direction: row;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        gap: 10px;
        font-size: 11px;
       
    }
    .navbar-brand {
        padding-top: .3125rem;
        padding-bottom: .3125rem;
        margin-right: 1rem;
        font-size: 18px;
        text-decoration: none;
        white-space: nowrap;
    }
    .h1, h1 {
        font-size: 23px;
    }
    .rounded-2 {
        border-radius: .25rem!important;
        font-size: 12px;
    }
    }

    @media(max-width:750px){

        .row {
            text-align: center;
        }
        img, svg {
            vertical-align: middle;
            width: 445px;
            margin-left: -88px;
        }
    }
           
    @media(max-width:583px){
        h1.text-white {
            font-size: 25px;
        }
        p {
            margin-top: 0;
            margin-bottom: 1rem;
            font-size: 13px;
        }
    }


    @media(max-width:580px){
        h1.text-white {
            font-size: 25px;
            font-size: 20px;
        }
    }
    @media(max-width:549px){
        h1.text-white {
            font-size: 25px;
            font-size: 19px;
        }
    }

   
    @media(max-width:542px){
        h1.text-white {
            font-size: 25px;
            font-size: 18px;
        }
    }


    @media(max-width:536px){
        h1.text-white {
            font-size: 25px;
            font-size: 17px;
        }
    }
    @media(max-width:530px){
        h1.text-white {
            font-size: 25px;
            font-size: 16px;
        }
        .rounded-2 {
            border-radius: .25rem!important;
            font-size: 11px;
        }

    }

    @media(max-width:529px){
        .rounded-2 {
            border-radius: .25rem!important;
            font-size: 11px;
        }
        p.text-white {
            font-size: 11px;
        }
    }
    @media(max-width:523px){
        h1.text-white {
          
            font-size: 15px;
        }
    }
    @media(max-width:522px){
        .navbar-nav {
            display: flex;
            flex-direction: row;
            padding-left: 0;
            margin-bottom: 0;
            list-style: none;
            gap: 6px;
            font-size: 11px;
        }
        .rounded-2 {
            border-radius: .25rem!important;
            font-size: 9px;
        }
    }
    @media(max-width:510px){
        .rounded-2 {
            border-radius: 0.25rem!important;
            font-size: 8px;
        }
        h1.text-white {
            font-size: 13px;
        }
    }
    @media(max-width:505px){
        h1.text-white {
            font-size: 12px;
        }
        .btn-.d-inline-block.border.text-white.px-3.py-2.rounded-2 {
            font-size: 7px;
        }
        h1.text-white {
            font-size: 12px;
        }
    }

    @media(max-width:500px){
        .navbar-nav {
            display: flex;
            flex-direction: row;
            padding-left: 0;
            margin-bottom: 0;
            list-style: none;
            gap: 4px;
            font-size: 11px;
        }
    }
    @media(max-width:490px){
        .navbar-nav {
            display: flex;
            flex-direction: row;
            padding-left: 0;
            margin-bottom: 0;
            list-style: none;
            gap: 3px;
            font-size: 11px;
        }
        h1.text-white {
            font-size: 10px;
        }
    }

    @media(max-width:485px){
        .navbar-brand {
            padding-top: .3125rem;
            padding-bottom: .3125rem;
            margin-right: 1rem;
            font-size: 16px;
            text-decoration: none;
            white-space: nowrap;
        }
        .navbar-nav {
            display: flex;
            flex-direction: row;
            padding-left: 0;
            margin-bottom: 0;
            list-style: none;
            gap: 3px;
            font-size: 9px;
        }
        h1.text-white {
            font-size: 9px;
        }
    }